#listContainer {
  background-image: url('https://storage.googleapis.com/labbit-fec-limitless-images/images/mt-1486-home-parallax1_xl_1980x959.jpeg');
  width: 100%;
  /* height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#scrollContainer {
  margin-top: 2em;
}

#scrollContainer::-webkit-scrollbar {
  display: none;
}

.eventListImage {
  width: 100%;
  height: 100%;
  max-width: 30vw;
  border-radius: 2em;
}

.searchLocation {
  width: 574.98px;
  height: 58.62px;
  left: 262px;
  top: 200px;
  background: rgba(100, 8, 230, 0.19);
  border-radius: 40px;
  color:white;
  padding-left: 2em;
}

.searchEvents {
  width: 574.98px;
  height: 58.62px;
  left: 262px;
  top: 200px;
  background: rgba(100, 8, 230, 0.19);
  border-radius: 40px;
  color:white;
  padding-left: 2em;
  margin-top: 2em;
}

.searchLocation::placeholder {
  color: white;
}

.searchEvents::placeholder {
  color: white;
}

.eventListItem {
  background-color: #5a175e;
  border-radius: 5mm;
}

.eventListItem:nth-child(even) {
  background: #67084f;
}

.name {
  color: white
}

.eventDetails {
  color: white;
  display: flex;
  flex-direction: row;
}

.infoListContainer {
  width: 50%;
}

.buttonsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}

.addToTrip {
  width: 30%;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  padding: 10px 10px;
  background-color:black;
  color: white;
}

.readMore {
  width: 30%;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  padding: 10px 10px;
  background-color: #FFFFFF;
  text-decoration: none;
  color: black;
}