#eventsPage {
  background-image: url("https://storage.googleapis.com/labbit-fec-limitless-images/images/mt-1486-home-parallax1_xl_1980x959.jpeg");
  width: 100%;
  height: 86%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eventsList {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
  max-height: 100%;
  width: 100%;
}

.eventListImage {
  width: 100%;
  height: 100%;
  max-width: 20vw;
  border-radius: 2em;
}

/* mobile: column-flex, center align */
.filterAndSortContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

/* mobile: width in % */
.searchLocation {
  width: 574.98px;
  height: 58.62px;
  background: rgba(100, 8, 230, 0.1);
  border-radius: 40px;
  border-style: solid;
  margin-left: 1em;
  color: white;
  padding-left: 2em;
  margin-bottom: 2em;
  border-color: gray;
}

.searchEvents {
  /* mobile width in % */
  width: 500px;
  height: 58.62px;
  background: rgba(100, 8, 230, 0.1);
  border-radius: 40px;
  border-style: solid;
  color: white;
  padding-left: 2em;
  margin-top: 2em;
  margin-left: 3%;
  border-color: gray;
}

.searchLocation::placeholder {
  color: gray;
}

.searchEvents::placeholder {
  color: gray;
}


/* mobile: align self center */
.dropdown {
  color: gray;
  background-color: rgba(100, 8, 230, 0.1);
  border-radius: 10px;
  border-color: gray;
  padding-top: 1vh;
  padding-bottom: 1vh;
  align-self: flex-end;
  margin-right: 3%;
}

.emptyList {
  align-self: center;
  margin-top: 5em;
  margin-left: 1em;
  color: #dd9a33;
}

.eventListItem {
  background-color: #5a175e;
  border-radius: 5mm;
  align-self: center;
}

.eventListItem:nth-child(even) {
  background: #67084f;
}

.name {
  color: white;
}

.eventDetails {
  color: white;
  display: flex;
  flex-direction: row;
}

.infoListContainer {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.quantityPicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #dd9a33;
}

.quantityIndicator {
  font-weight: bold;
  font-size: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

.quantityBtn:active {
  opacity: 0.5;
}

.buttonsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.addToTrip {
  width: 8em;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  color: white;
}

.readMore {
  width: 8em;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  padding: 10px 10px;
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readyMoreText {
  font-weight: bold;
}

.carousel .item img {
  left: -9999px; /*important */
  right: -9999px; /*important */
  margin: 0 auto; /*important */
  max-width: none; /*important */
  min-width: 100%;
  position: absolute;
}
.carousel-inner {
}

/* .carousel-inner {
  padding-top: 5%;
  margin-right: 15%;
  margin-left: 15%;
}

.carousel-caption {
  margin-right: 15%;
  margin-left: 15%;
}

.carousel.slide {
  display: flex;
  justify-content: center;
}

.carousel-control-next {
  right: 7%;
} */

/* .carousel.slide {
  width: auto;
  height: 30%;
  margin: auto;
} */

@media screen and (max-width: 600px) {
  .searchLocation {
    width: 80%;
  }

  .filterAndSortContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;

  }

  .filterAndSortContainer > * {
    width: 100%;
    margin: 3%;
    align-self: center;
  }

}