/*BROWSER*/
@media screen and (min-width: 600px) {
  .eventListImage {
    width: 100%;
    height: 100%;
    max-width: 20vw;
    border-radius: 2em;
  }
  .hotelListImage {
    width: 15vw;
    height: 10vw;
  }

  /* mobile: width in % */
  .flightListimage {
    width: 15vw;
    height: 10vw;
    border-radius: 1em;
  }
}


.eventListImage {
  object-fit: cover;
}
.listItem {
  background-color: #5a175e;
  border-radius: 5mm;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  /*  */
  width: 100%;
}

.flightItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
}
.listItem:nth-child(even) {
  background: #67084f;
}

#flightsLoading {
  color: whitesmoke;
}

.name {
  color: white;
}

.listDetails {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.infoListContainer {
  width: 100%;
}

.quantityPicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #dd9a33;
}

.quantityIndicator {
  font-weight: bold;
  font-size: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

.quantityBtn:active {
  opacity: 0.5;
}

#scrollContainer {
  margin-top: 2em;
  overflow: scroll;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#scrollContainer::-webkit-scrollbar {
  display: none;
}

.listContainer {
  align-self: center;
  max-height: 90%;
  min-height: 90%;
  width: 80%;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.addToTrip {
  width: 8em;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  color: white;
}

.readMore {
  width: 8em;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  padding: 10px 10px;
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readyMoreText {
  font-weight: bold;
}

.hotel-text {
  display: flex;
  flex-direction: column;
  align-self: stetch;
  flex-grow: 1;
  font-size: 0.9em;
  margin-left: 1em;
  align-items: flex-start;
  justify-content: flex-start;
}

.neighborhoods {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-name {
  margin-right: 1em;
  text-align: justify;
}

.hotelListImage {
  border-radius: 1em;
}

.hotel-detail-price {
  margin: 0 0 1em 1em;
  align-items: center;
}

.toastItem {
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.toast {
  width: 30vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.toast-body {
  width: 100%;
}
.toast-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


/* MOBILE */
@media screen and (max-width: 600px) {
  .eventListImage {
    height: 15vw;
    width: 15vw;
  }

  .listItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .listDetails {
    flex-direction: column;
  }

  .listDetails > * {
    font-size: smaller;
  }

  .buttonsContainer > * {
    width: 35%
  }

  .flightListimage {
    width: 45%;
    align-self: center;
  }

  .flight-image-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .flight-origin-search {
    min-width: 55%;
  }

}
