/* a background overlay (sits on top of exisiting page) */
.modal-background {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top of exisitng content */
  background-color: rgba(0, 0, 0, 0.4); /* see-thru */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0);  */
}

/* Modal Content/Box */
.modal-window, .checkout-modal-window, .login-modal-window {
  /* may want z index of 2? */
  background: rgb(9,7,156);
  background: -moz-radial-gradient(circle, rgba(9,7,156,1) 0%, rgba(31,18,51,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(9,7,156,1) 0%, rgba(31,18,51,1) 100%);
  background: radial-gradient(circle, rgba(9,7,156,1) 0%, rgba(31,18,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09079c",endColorstr="#1f1233",GradientType=1);

  color: #fefefe;
  z-index: 3;
  margin: 15% auto; /* 15% from the top and centered */

  padding: 50px;
  border: 1px solid #888;
  border-radius: 15px;
  /* width: 40%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkout-modal-window {
  display: block;
}

#checkout-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#checkout-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-modal-window {
  border-radius: 5vw;
}

.modal-close-box {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* padding: 0 3% 0 3%; */
}

/* The Close Button */
.modal-close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
  /* margin: 25px; */
}

.independent-close-button {
  float: right;
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#login-form {
  margin-left: 2%;
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
}

#submit-button {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 5vw;
}

#login-form > * {
  margin: auto 3% auto 3%;
}

#username, #password {
  border-radius: 5vw;
}

#checkout-categories {
  overflow: auto;
  height: 300px;
  flex: 0 0 70%;
}

#checkout-form {
  flex: 0 0 30%;
}

::-webkit-scrollbar {
  display: none;
}

#thank-you {
  text-align: center;
}