* {
  margin: 0;
  padding: 0;
}
/* https://images.wallpaperscraft.com/image/single/net_neon_shape_145699_2560x1080.jpg */

body,
html,
#root {
  width: 100vw;
  height: 100vh;
}
button {
  cursor: pointer;
}
#root {
  background-image: url("https://storage.googleapis.com/labbit-fec-limitless-images/landingBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*BROWSER*/
@media screen and (min-width: 600px) {
  #yourTripButton {
    width: 5vw;
    height: 5vw;
    bottom: 5%;
    right: 5%;
  }

  #inputForm {
    width: 50%;
    z-index: 0;
  }
  #logoName h1 {
    font-size: 4rem;
  }
  #rightArrow {
    font-size: 2em;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  #yourTripButton {
    width: 15vw;
    height: 15vw;
    bottom: 3%;
    right: 5%;
  }

  #inputForm {
    width: 80%;
    z-index: 0;
  }

  #logoName h1 {
    font-size: 2rem;
  }

  #logoImg {
    width: 4em;
  }
  #slogan {
    width: 100%;
  }
  .dateSelect {
    width: 100%;
    font-size: 0.7em;
  }
  #rightArrow {
    font-size: 1em;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-60%, 85%);
  }
}

/* BOTH */

.dateContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.startDate {
  display: flex;
  flex-direction: column;
  width: 45%;
}

#rightArrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.endDate {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.dateSelect {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 10px;

  background-color: rgba(90, 23, 94, 0.5);
  color: white;
  box-shadow: rgba(254, 1, 154, 0.5) 0px 7px 29px 0px;
}

/* #dateContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#landingPage {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 0;
}
#dashboardContainer {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#scrollContainer {
  overflow-y: scroll;
  height: 90%;
}

.eventListItem {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

#yourTripButton {
  position: absolute;
  background-color: indigo;
  color: orange;

  border: none;
  border-radius: 50%;
}

.eventDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventText {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
  height: 10vh;
}
#header > * {
  margin: 2%;
}

/* #user-icon > * {
  margin: 2%;
} */

/* #user-icon {
  height: 100%;
  width: 100%;
} */

.user-initials-icon {
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  border-radius: 100%;
  background-color: #db6d13ee;
  box-sizing: border-box;
}

.user-initials-icon div {
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#share-buttons-container {
  margin-right: auto;
  /* margin-left: 2%; */
  width: 8%;
  display: flex;
  justify-content: space-evenly;
}

#logoName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 20px;
}
#navLinks {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.nav-link {
  margin: 2em;
}

/* .active {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
} */

#slogan {
  padding-left: 30px;
}

.login-logout-button {
  text-decoration: none;
  margin: 2% 2% 2% 0;
  width: 10%;
  height: 40%;
  border: #5a175e 2px solid;
  border-radius: 5vw;
  background: rgba(90, 23, 94, 0.5);
  color: #fff;
  text-align: center;
  box-shadow: rgba(254, 1, 154, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-logout-button:hover {
  text-decoration: none;
}

#selectDates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-logout-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login-logout-button span:after {
  content: "\00bb";

  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login-logout-button:hover span {
  padding-right: 25px;
}

.login-logout-button:hover span:after {
  opacity: 1;
  right: 0;
}

.searchLabel {
  padding: 2% 0 2% 0;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: solid;
  outline: none;
  color: #fff;
  background: rgba(90, 23, 94, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  box-shadow: rgba(254, 1, 154, 0.5);
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#errorMessage {
  padding-bottom: 10%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.hotel-main {
  color: gray;
}

.hotel-item-detail {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  /* justify-content: space-between; */
  margin: 1em;
  padding: 1em;
}

.hotel-detail-img {
  width: 180px; /* change to % */
  object-fit: cover;
  margin-right: 1em;
}

.hotel-detail-desc {
  display: flex;
  flex-direction: column;
  align-self: stetch;
  flex-grow: 1;
  font-size: 0.6em;
}

.hotel-detail-price {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 0.7em;
  /* align-items: flex-end; */
}

.neighborhoods {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-bg);
  font-family: "Balsamiq Sans", cursive;
  color: var(--clr-neon);
  padding-right: 10rem;
}

.neon-button {
  font-size: 1.75rem;
  width: 1em;
  height: 1em;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button.active {
  font-size: 1.75rem;
  width: 1em;
  height: 1em;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-bg);
  background-color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  z-index: 1;
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
