* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

/*BROWSER*/
@media screen and (min-width: 600px) {
  #yourTripButton {
    width: 5vw;
    height: 5vw;
    bottom: 5%;
    right: 5%;
  }
  .eventListImage {
    width: 5vw;
    height: 5vw;
  }


}

/* MOBILE */
@media screen and (max-width: 600px) {
  #yourTripButton {
    width: 15vw;
    height: 15vw;
    bottom: 3%;
    right: 5%;
  }

  .eventListImage {
    height: 15vw;
    width: 15vw;
  }
}

/* BOTH */
#dashboardContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.ui-autocomplete {
  max-height: 20vh;
  overflow-x: hidden; /* add padding to account for vertical scrollbar */
  z-index: 1000 !important;
}
#scrollContainer {
  overflow: scroll;
  height: 80vh;
}
#yourTripButton {
  position: absolute;
  background-color: indigo;
  color: orange;

  border: none;
  border-radius: 50%;
}

.eventListImage {
  object-fit: cover;
}

#login {
  display: flex;
  justify-content: flex-end;
  padding: 3%;
}
#login-button {
  width: 10%;
  height: 7%;
  border: #5a175e 2px solid;
  border-radius: 5vw;
  background: #5a175e;
  color: #fff;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#login-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#login-button:hover span {
  padding-right: 25px;
}

#login-button:hover span:after {
  opacity: 1;
  right: 0;
}

