* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100vw;
  height: 100vh;
}

/*BROWSER*/
@media screen and (min-width: 600px) {
  #yourTripButton {
    width: 5vw;
    height: 5vw;
    bottom: 5%;
    right: 5%;
  }
  .eventListImage {
    width: 5vw;
    height: 5vw;
  }
  #inputForm {
    width: 30%;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  #yourTripButton {
    width: 15vw;
    height: 15vw;
    bottom: 3%;
    right: 5%;
  }

  .eventListImage {
    height: 15vw;
    width: 15vw;
  }
  #inputForm {
    width: 80%;
  }
}

/* BOTH */

.dateSelect {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px;
  margin: 1em;
}
#landingPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/NextStop/images/landingScreenBackground.jpeg) fixed no-repeat;
}
#dashboardContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#scrollContainer {
  overflow: scroll;
  height: 80vh;
}
#yourTripButton {
  position: absolute;
  background-color: indigo;
  color: orange;

  border: none;
  border-radius: 50%;
}

.eventListImage {
  object-fit: cover;
}

#login {
  display: flex;
  justify-content: flex-end;
  padding: 3%;
  width: 100%;
  position: fixed;
}
#login-button {
  width: 10%;
  height: 7%;
  border: #5a175e 2px solid;
  border-radius: 5vw;
  background: #5a175e;
  color: #fff;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#login-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#login-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#login-button:hover span {
  padding-right: 25px;
}

#login-button:hover span:after {
  opacity: 1;
  right: 0;
}

.searchLabel {
  padding: 2% 0 2% 0;
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}